@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

body {
  background-color: rgb(0 0 0 / 0.9);
}

.anime-img:hover > img,
.anime-img:hover > .play-btn {
  transform: scale(1.1);
  opacity: 1;
}
